<div class="card" style="width: 18rem;">
    <img src="{{ objectData.primaryImageSmall }}" class="card-img-top" alt="{{ objectData.title }}">
    <div class="card-body">
        <h5 class="nom de l'oeuvre">{{ objectData.title }}</h5>
        <p class="card-text">{{ objectData.creditLine }}</p>
        <a class="card-text" href='{{ objectData.objectURL }}'>See this object on the metropolitan museum's page.</a>
    </div>
</div>